 body {
    margin: 10px;
}

thead, th {
    background-color: rgb(69, 113, 194);
    color: white;
}

h1, h2 {
    text-align: center;
    padding: 10px;
}

table, th, td {
    border: 1px solid gray;
    border-collapse: collapse;
    text-align: left;
}

th, td {
    font-size: 15px;
}

#map {
    align-content: center;
    height: 600px;
    width: 100%;
}